/* CONTACT FORM */

form {
    display: flex;
    flex-direction: column;
    padding: 1em 0;

    input {
        @include fluid-type($min_width, $max_width, 16px, 20px);
        font-family: 'Assistant', sans-serif;
        font-display: swap;
        border: none;
        margin: 1em 0;
        padding: 0.8em 0.5em;

        &:focus {
            outline: none;
            color: black;
            border-bottom: 9px solid #E5E5E5;
            transition: border-bottom 0.7s;
        }

        &:valid {
            border-bottom: 9px solid #D9B45F;
            transition: border-bottom 0.7s;
        }

        &:valid:not(:focus) {
            border-bottom: solid 1px #E5E5E5;
        }
    }

    textarea {
        @include fluid-type($min_width, $max_width, 16px, 20px);
        font-family: 'Assistant', sans-serif;
        font-display: swap;
        border: none;
        margin-bottom: 1em;
        padding: 0.8em 0.5em;
        height: 150px;

        &:focus {
            outline: none;
            color: black;
            border-bottom: 9px solid #E5E5E5;
            transition: border-bottom 0.7s;
        }

        &:valid {
            border: solid 1px #E5E5E5;
            transition: border 0.7s;
        }
    }

    button {
        @include fluid-type($min_width, $max_width, 12px, 16px);
        font-family: 'Assistant', sans-serif;
        font-display: swap;
        font-weight: 700;
        letter-spacing: 0.1em;
        border: solid 2px #000;
        width: 110px;
        border-radius: 50px;
        padding: 0.5em 1em;
        background-color: #fff;
        color: #000;
        transition: all 0.7s;

        &:hover {
            cursor: pointer;
        }

        &:hover:not(#cancel) {
            cursor: pointer;
            background-color: #000;
            color: #fff;
            transition: all 0.7s;
        }

        &#cancel {
            font-weight: 400;
            border: none;
        }
    }
}